
Test Round:  6   2
16570190 /home/eikan/dezhi/caffe/models/bvlc_alexnet/alexnetzip.npz
42743678 /home/eikan/dezhi/caffe/models/default_vgg_16/vgg16zip.npz
46998118 /home/eikan/dezhi/caffe/models/vgg_19/vgg19zip.npz
alexnet_default:
I0616 14:58:51.314811 29897 caffe.cpp:350] accuracy = 0.0436
alexnet_compressed:
I0616 14:59:20.666944 29939 caffe.cpp:350] accuracy = 0.034
vgg16_default:
I0616 15:06:51.363648 29983 caffe.cpp:350] accuracy@1 = 0.6512
I0616 15:06:51.363656 29983 caffe.cpp:350] accuracy@5 = 0.858
vgg16_default:
I0616 15:17:32.376296 31960 caffe.cpp:350] accuracy@1 = 0.6348
I0616 15:17:32.376304 31960 caffe.cpp:350] accuracy@5 = 0.8392
vgg19_default:
I0616 15:29:10.676369   492 caffe.cpp:350] accuracy@1 = 0.6584
I0616 15:29:10.676378   492 caffe.cpp:350] accuracy@5 = 0.8604
vgg19_default:
I0616 15:41:44.304805  3066 caffe.cpp:350] accuracy@1 = 0.6484
I0616 15:41:44.304812  3066 caffe.cpp:350] accuracy@5 = 0.8556
